.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 150px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #342b99;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 750;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #241e63;
    transition: 0.30s ease-in-out;
}
.social-icons {
    margin-top: -15px;
    font-size: 30px;
    position: relative;
    display: inline-block;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: var(--color1);
    font-size: 1.2rem;
    transition: color 0.15s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}
.menu li a:hover:after {width: 100%; height: 2px;}
.open-menu , .close-menu {
    position: absolute;
    color: #342b99;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #cdaa4d;
        transition: all 0.2s ease-in-out;
    }
     .social-icons {
        margin-top: 0px;
        text-align: center;
    }

    .social-icons a {
        display: inline-block;
        margin: 0 5px; 
        color: var(--color1);
        font-size: 1.2rem;
        transition: color 0.15s ease-in-out;
    }

    .social-icons a:hover {
        color: #007bff;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}